{% extends 'layout.html' %}
{% block main %}
    <div class="mb-3">
    {% url 'blog:comment_create' post.id as comment_create_url %}
    </div>
    <div class="row g-4 mb-4">
        <div class="col-12">

            {% include 'blog/partials/_post_detailed.html' %}
        </div>
        {% include 'blog/partials/_new_comment_form.html' %}
        <div class="col-12">
            <h1>Comments</h1>
        </div>
        {% for comment in comments %}
            <div class="col-12">
                {% include 'blog/partials/_comment.html' %}
            </div>
        {% empty %}
            <div class="col-12 p-4">
                <p class="text-muted">No comment here.</p>
            </div>
        {% endfor %}

    </div>

{% endblock %}