<form
        action="{{ action }}"
        method="{{ method }}"
        x-data="{colored: false}"
        {# HX method will be set separately  #}
        {% attrs hx-post hx-put %}

>
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.content.id_for_label }}" class="form-label">{{ form.content.label }}</label>
        <textarea class="form-control" id="{{ form.content.id_for_label }}"
                  name="{{ form.content.html_name }}"></textarea>
    </div>
    <div class="mb-3">
        <input id="{{ form.colored.id_for_label }}" type="checkbox" x-model="colored"
               name="{{ form.colored.html_name }}" class="form-check-input"/>
        <label for="{{ form.colored.id_for_label }}" class="form-check-label">{{ form.colored.label }}</label>
    </div>
    <div class="mb-3" x-show="colored">
        <label for="{{ form.text_color.id_for_label }}" class="form-label">{{ form.text_color.label }}</label>
        <input id="{{ form.text_color.id_for_label }}" type="color" name="{{ form.text_color.html_name }}"/>
        <label for="{{ form.background_color.id_for_label }}"
               class="form-label">{{ form.background_color.label }}</label>
        <input id="{{ form.background_color.id_for_label }}" type="color" name="{{ form.background_color.html_name }}"/>
    </div>
    <div class="mb-3">
        <input type="submit" value="Post" class="btn btn-primary">
    </div>
</form>